laboratorio/laboratorio_3/GNS3/IOS/L2-Switch/i86bi-linux-l2-adventerprisek9-15.2d.bin
laboratorio/laboratorio_3/GNS3/IOS/L3-Router/i86bi-linux-l3-adventerprisek9-15.2.4M1.bin
laboratorio/laboratorio_3/GNS3/EndPoints/IE6 - WinXP-VMWare.zip
